<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkO8eC-kX4K5UIRFmaQa50QayW8VpbEro</string>
	<key>GCM_SENDER_ID</key>
	<string>539397652011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.draven.todoApp</string>
	<key>PROJECT_ID</key>
	<string>todo-app-b0240</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-b0240.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539397652011:ios:b2141b690e9db70dbe346e</string>
</dict>
</plist>